<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Lesson</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        a {
            text-align: center;
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style-type: none; /* Remove bullet points */
            padding: 0;
        }
        li {
            margin: 2px 0; /* Reduce space between items */
        }
        .lesson-link {
            text-decoration: none; /* Remove underline */
            color: #000; /* Black text */
        }
        button {
            display: block;
            margin: 0 auto; /* Centers the button itself */
            padding: 10px 20px;
        }
    </style>
</head>
<body>
    <h1><%= result %></h1>
        <form action='/quiz/question/' method="GET">
            <button type="submit" class="lesson-link" id="button-0">NEXT</button>
        </form>
    </br>
    </br>
    <form action='/reset' method="POST">
        <button type="submit" class="lesson-link" >reset & go home</button>
    </form>

    

    <script>
        // Wait for 1 second and then click the first button (or any specific button)
        setTimeout(function() {
            document.getElementById('button-0').click(); // Change '0' to target a different button
        }, 500);
    </script>
</body>
</html>
