<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select a Lesson</title>
    <link rel="stylesheet" href="/styles.css">
    <style>
        ul {
            list-style-type: upper-roman; /* Remove bullet points */
            padding: 0;
        }
        li {
            margin: 2px 0; /* Reduce space between items */
        }
        .lesson-link {
            text-decoration: none; /* Remove underline */
            color: #000; /* Black text */
        }
    </style>
</head>
<body>
    <h1><%= ((correct / (correct + incorrect)) * 100).toFixed(2) %>%</h1>
    </br>
    <h2>correct: <%= correct %></h2>
    <h2>incorrect: <%= incorrect %></h2>

<p>missed words:</p>
    <% for (let x in missedWordsList) { %>
        <li><%= missedWordsList[x] %></li>
    <% } %>

    <a href="/">Go back to Home Page</a>
</body>
</html>
